@import "src/styles/utils";

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

    &__content {
        display: flex;
        justify-content: right;
        @extend %adaptive_width;

        &__menu {
            display: flex;
            flex-direction: column;
            position: absolute;
            background-color: $grey_color;
            top: 50px;
            @include text(600, 18px, 18px, $black_color);
            border-radius: 5px;
            border: 1px solid $black_color;
        }
    }
}
