@import "src/styles/utils";

.wrapper {
    display: flex;

    &__button {
        background-color: $blue_color;
        border: none;
        border-radius: 5px;
        width: $item-width;
        height: 32px;

        @include text(400, 18px, 18px, $white_color);
    }
}
