@import "src/styles/utils";

.wrapper {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 30px;

    &__list {
        min-height: calc(100vh - (80px + 50px + 30px + 30px + 32px + 30px + 30px + 64px));
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: $item_margin;
        grid-row-gap: $item_margin;

        @media (max-width: $media1) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 1fr);
        }

        @media (max-width: $media2) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(6, 1fr);
        }
        @media (max-width: $media4) {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(12, 1fr);
        }
    }
}
