@import "src/styles/utils";

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $blackout_color;
    z-index: 10;

    &__content {
        display: flex;
        justify-content: right;
        @extend %adaptive_width;

        &__body {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 30px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            background-color: $grey_color;
            padding-top: 10px;
            border-radius: 5px;

            &__exit {
                margin-left: auto;
                background-color: $red_color;
                border-radius: 100%;
                padding: 2px;
                height: 22px;
                width: 22px;
                color: $white_color;
                box-sizing: border-box;
                cursor: pointer;
            }

            &__exit:hover {
                background-color: $blue_color;
            }
        }
    }
}
