@import "src/styles/utils";

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $blackout_color;
    z-index: 10;

    &__content {
        display: flex;
        justify-content: right;
        @extend %adaptive_width;

        &__body {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 30px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            background-color: $grey_color;
            padding-top: 10px;
            border-radius: 5px;

            &__exit {
                margin-left: auto;
                background-color: $red_color;
                border-radius: 100%;
                padding: 2px;
                height: 22px;
                width: 22px;
                color: $white_color;
                box-sizing: border-box;
                cursor: pointer;
            }

            &__exit:hover {
                background-color: $blue_color;
            }

            &__form {
                display: flex;
                flex-direction: column;

                &__block {
                    display: flex;
                    flex-direction: row;
                    @media (max-width: $media4) {
                        flex-direction: column;
                    }
                    margin-top: 10px;

                    &__label {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: $blue_color;
                        @include text(800, 14px, 14px, $white_color);
                        padding: 3px;
                        border-bottom-left-radius: 5px;
                        border-top-left-radius: 5px;
                        @media (max-width: $media4) {
                            border-bottom-left-radius: 0;
                            border-top-right-radius: 5px;
                            border-top-left-radius: 5px;
                            margin-right: auto;
                        }
                        box-sizing: border-box;
                    }

                    &__input {
                        background-color: $white_color;
                        border: 2px solid $blue_color;
                        border-bottom-right-radius: 5px;
                        border-top-right-radius: 5px;
                        width: 100%;
                        margin-left: 3px;
                        @include text(800, 14px, 14px, $black_color);
                        @media (max-width: $media4) {
                            margin-left: 0;
                            width: auto;
                            border-left: 2px solid $blue_color;
                        }
                    }

                    &__input:focus {
                        outline: none !important;
                    }
                }

                &__error {
                    @include text(800, 14px, 20px, $red_color);
                    margin-bottom: 5px;
                }

                &__submit {
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 5px;
                    background-color: $blue_color;
                    @include text(800, 14px, 14px, $white_color);
                    padding: 5px;
                    border: none;
                    border-radius: 5px;
                }

                &__submit:hover {
                    background-color: $blue_color_hover;
                }

                &__submit:active {
                    background-color: $blue_color_active;
                }
            }
        }
    }
}
