@import "src/styles/utils";

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $blackout_color;
    z-index: 10;

    &__content {
        display: flex;
        justify-content: right;
        @extend %adaptive_width;

        &__body {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 30px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            background-color: $grey_color;
            padding-top: 10px;
            border-radius: 5px;

            &__exit {
                margin-left: auto;
                background-color: $red_color;
                border-radius: 100%;
                padding: 2px;
                height: 22px;
                width: 22px;
                color: $white_color;
                box-sizing: border-box;
                cursor: pointer;
            }

            &__exit:hover {
                background-color: $blue_color;
            }

            &__login {
                display: flex;
                align-items: center;
                justify-content: center;
                @include text(800, 14px, 14px, $black_color);
                border: 1px solid;
                background-color: $white_color;
                border-radius: 3px;
                margin-right: auto;
                margin-left: auto;
                padding: 3px;
                cursor: pointer;

                &__icon {
                    height: 20px;
                    width: 20px;
                    margin-right: 5px;
                }
            }

            &__img {
                width: 30%;
                @media (max-width: $media1) {
                    width: 30%;
                }
                @media (max-width: $media2) {
                    width: 40%;
                }
                @media (max-width: $media3) {
                    width: 60%;
                }
                @media (max-width: $media4) {
                    width: 100%;
                }
                margin-bottom: 10px;
                border-radius: 10px;
            }

            &__info {
                display: flex;
                flex-direction: row;
                @media (max-width: $media4) {
                    flex-direction: column;
                }
                margin-bottom: 5px;

                &__title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $blue_color;
                    @include text(800, 14px, 14px, $white_color);
                    padding: 3px;
                    border-bottom-left-radius: 5px;
                    border-top-left-radius: 5px;
                    @media (max-width: $media4) {
                        border-bottom-left-radius: 0;
                        border-top-right-radius: 5px;
                        border-top-left-radius: 5px;
                        margin-right: auto;
                    }
                    box-sizing: border-box;
                }

                &__text {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @include text(800, 14px, 14px, $black_color);
                    border-bottom: 2px solid $blue_color;
                    padding: 3px;
                    padding-left: 5px;
                    padding-right: 5px;
                    @media (max-width: $media4) {
                        margin-right: auto;
                        border-left: 2px solid $blue_color;
                    }
                    box-sizing: border-box;
                }
            }

            &__price {
                display: flex;
                flex-direction: row;
                @media (max-width: $media4) {
                    flex-direction: column;
                }
                margin-bottom: 5px;

                &__title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $red_color;
                    @include text(800, 14px, 14px, $white_color);
                    padding: 3px;
                    border-bottom-left-radius: 5px;
                    border-top-left-radius: 5px;
                    @media (max-width: $media4) {
                        border-bottom-left-radius: 0;
                        border-top-right-radius: 5px;
                        border-top-left-radius: 5px;
                        margin-right: auto;
                    }
                    box-sizing: border-box;
                }

                &__text {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @include text(800, 14px, 14px, $black_color);
                    border-bottom: 2px solid $red_color;
                    padding: 3px;
                    padding-left: 5px;
                    padding-right: 5px;
                    @media (max-width: $media4) {
                        margin-right: auto;
                        border-left: 2px solid $red_color;
                    }
                    box-sizing: border-box;
                }
            }

            &__description {
                display: flex;
                flex-direction: row;
                @media (max-width: $media4) {
                    flex-direction: column;
                }
                margin-bottom: 5px;

                &__title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $blue_color;
                    @include text(800, 14px, 16px, $white_color);
                    padding: 3px;
                    padding-right: 1px;
                    border-bottom-left-radius: 5px;
                    border-top-left-radius: 5px;
                    margin-bottom: auto;
                    margin-right: auto;
                    @media (max-width: $media4) {
                        border-bottom-left-radius: 0;
                        border-top-right-radius: 5px;
                        border-top-left-radius: 5px;
                        margin-right: auto;
                        padding-right: 3px;
                    }
                    box-sizing: border-box;
                }

                &__text {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @include text(800, 14px, 14px, $black_color);
                    border-bottom: 2px solid $blue_color;
                    border-left: 2px solid $blue_color;
                    padding: 3px;
                    padding-left: 5px;
                    padding-right: 5px;
                    box-sizing: border-box;
                    margin-right: auto;
                    text-align: justify;
                }
            }
        }
    }
}
