@import "src/styles/utils";

.sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: auto;
    background-color: #f5f5f5;
    padding-top: 10px;
    border-radius: 5px;
}
