@import "src/styles/utils";

li {
    list-style-type: none;
    list-style: none;
    display: inline-block;
}

.status {
    cursor: pointer;
    @include text(600, 18px, 18px, $black_color);
    padding: 5px;
}

.status:hover {
    color: $blue_color_hover;
}

.status_select {
    cursor: pointer;
    @include text(600, 18px, 18px, $white_color);
    padding: 5px;
    background-color: $blue_color;
}

.status_select:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.status_select:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.status_select:hover {
    background-color: $grey_color;
    color: $blue_color_hover;
}
