@import "src/styles/utils";

$size: 32px;

%icon {
    background-color: $blue_color;
    color: $white_color;
    padding: 3px;
    width: $size;
    height: $size;
    box-sizing: border-box;
    margin-left: 2px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: $size;
    box-sizing: border-box;

    &__input {
        background-color: $white_color;
        border: 2px solid $blue_color;
        border-right: none;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        width: 100%;
        padding-left: 5px;
        @include text(800, 14px, 14px, $black_color);
    }

    &__input:focus {
        outline: none !important;
    }

    &__clear {
        display: flex;
        background-color: $white_color;
        border: 2px solid $blue_color;
        border-left: none;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;

        &__icon {
            margin-right: 3px;
            margin-top: auto;
            margin-bottom: auto;
            background-color: $red_color;
            border-radius: 100%;
            padding: 2px;
            height: 18px;
            width: 18px;
            color: $white_color;
            box-sizing: border-box;
            cursor: pointer;
        }

        &__icon:hover {
            background-color: $blue_color_hover;
        }

        &__icon:active {
            background-color: $blue_color_active;
        }
    }
    &__adaptive {
        &__input {
            background-color: $white_color;
            border: 2px solid $blue_color;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
            border-right: none;
            width: 100%;
            padding-left: 5px;
            @include text(800, 14px, 14px, $black_color);
        }

        &__input:focus {
            outline: none !important;
        }

        &__clear {
            display: flex;
            background-color: $white_color;
            border: 2px solid $blue_color;
            border-left: none;

            &__icon {
                margin-right: 3px;
                margin-top: auto;
                margin-bottom: auto;
                background-color: $red_color;
                border-radius: 100%;
                padding: 2px;
                height: 18px;
                width: 18px;
                color: $white_color;
                box-sizing: border-box;
                cursor: pointer;
            }

            &__icon:hover {
                background-color: $blue_color_hover;
            }

            &__icon:active {
                background-color: $blue_color_active;
            }
        }

        &__filter {
            @extend %icon;
        }

        &__filter:hover {
            background-color: $blue_color_hover;
        }

        &__filter:active {
            background-color: $blue_color_active;
        }

        &__search {
            @extend %icon;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
        }

        &__search:hover {
            background-color: $blue_color_hover;
        }

        &__search:active {
            background-color: $blue_color_active;
        }
    }

    input[type="search"]::-webkit-search-cancel-button {
        display: none;
    }
}
